.container {
  /* this is needed or the background will be offset by a few pixels at the top */
  overflow: auto;
  position: relative;
}


.container::before {

  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/login.jpg') no-repeat;
  background-size: cover;
  text-align: center;
}


button{

background-color: #192a3a;

border: none;

color: white;

padding: 15px 32px;

text-align: center;

text-decoration: none;

display: inline-block;

font-size: 16px;

margin: 4px 2px;

cursor: pointer;

border-radius:0.5em;

}
input{

    width: 100%;

    line-height: 2em;

}

label{

    line-height: 2em;

    font-weight: bold;

}
  a,
  a:visited,
  a:hover {

    color: #1976d2;

    text-decoration: none;

  }
  a:hover {
    color: #125699;

  }
  .content {

    display: flex;

    margin: 82px auto 32px;

    padding: 0 16px;

    max-width: 960px;

    flex-direction: column;

    align-items: center;

  }
 .card {
  margin-top: 50px;
  padding: 40px;
  width:18rem

 }
