<div class="container">
  <div class="card form-control w-50">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="text-center">
        <img src="../../../assets/logo.png" width="75px" alt="logo" />
        <h1>Create a new account</h1>
      </div>
      <div>
        <p class="text-dark mb-0">
          Already a member?<a [href]="['/login']" class="text-primary ml-1"
            >Login</a
          >
        </p>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="givenName">First Name</label>

          <input
            id="name"
            type="text"
            name="givenName"
            [(ngModel)]="givenName"
            required
            class="form-control"
            placeholder="Enter your first name"
          />
        </div>

        <div class="col">
          <label for="familyName">Last Name</label>

          <input
            id="lastname"
            type="text"
            name="familyName"
            [(ngModel)]="familyName"
            required
            class="form-control"
            placeholder="Enter your last name"
          />
        </div>
      </div>

      <div>
        <label for="email">Email address</label>

        <input
          id="email"
          type="email"
          name="email"
          [(ngModel)]="email"
          required
          class="form-control"
          placeholder="Enter your email"
        />
      </div>

      <div>
        <label for="password">Password</label>

        <input
          id="password"
          type="password"
          [(ngModel)]="password"
          name="password"
          class="form-control"
          required
          placeholder="Enter your password"
        />
      </div>

      <div>
        <br />

        <button class="btn btn-primary btn-block" type="submit">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
