<nav
  ngxNavbarDynamicExpand
  class="navbar navbar-expand-sm fixed-top"
  [ngStyle]="scroll()"
>
  <a class="navbar-brand" href="">
    <img src="../../../assets/logo.png" alt="..." height="76" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <!-- <ngx-navbar-collapse#collapse="ngxNavbarCollapse">

      </ngx-navbar-collapse> -->
    <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav nav-fill w-75">
        <a routerLink="/admin" class="nav-item nav-link active">Home</a>
        <a routerLink="/admin/movies" class="nav-item nav-link">Movies</a>
        <a routerLink="/admin/ratings" class="nav-item nav-link">Series</a>
        <a
          routerLink="/admin/ratings"
          class="nav-item nav-link disabled"
          tabindex="-1"
          >My List</a
        >
        <a routerLink="/admin/ratings" class="nav-item nav-link">Blog</a>
        <form class="form-inline my-2 my-sm-0 m-1 me-4">
          <button class="btn btn-outline-light" type="submit">
            <i class="fas fa-search"></i>
          </button>

          <input
            class="form-control input-sm ml-sm-0"
            type="search-hover"
            placeholder="Search Movies"
            aria-label="Search"
          />
        </form>
      </ul>
    </ngx-navbar-collapse>
    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <span><i class="far fa-bell fa-2x"></i> </span>

          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
            class="rounded-circle"
            height="36"
            alt="Avatar"
            loading="lazy"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </li>
    </ul>

    <a routerLink="/auth/login" *ngIf="!isLoggedIn"> Login</a>
    <button
      type="button"
      class="btn btn-link"
      routerLink
      *ngIf="isLoggedIn"
      (click)="onLogout()"
    >
      Logout
    </button>
  </div>
</nav>
<!-- <button
  type="button"
  class="btn btn-primary-outline pull-right"
  (click)="btnClick()"
>
  <i class="fa fa-plus"></i> Add
</button> -->
