<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="scroll()">
  <a class="navbar-brand" href="">
    <img src="../../../assets/logo.png" alt="..." height="26" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav my-sm-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/"> Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Shows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ratings">My List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ratings">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ratings">Contact</a>
    </li>
  </ul>

  <form class="form-inline my-2 my-sm-0 m-5 me-4">
    <input
      class="form-control m-3 p-3"
      type="search"
      placeholder="Search Movies"
      aria-label="Search"
    />

    <button class="btn btn-outline-light" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</nav>
