.background{
    width: 100%;
    min-height: 100vh;
     background: url('../../assets/darth-vader.jpg') no-repeat;
     background-size: cover;
     text-align: center;
  }

  body {
  --navbar-scroll: transparent;
  --navbar-scroll-text: white;
  --navbar-scroll-shadow: none;
}
