
<div class="row justify-content-center"> 
<div  class ="col-6"> 
 <div class="card" style="width: 40rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Spider Man -Away from home</h4>
      <p class="card-text">..tom holland's spiderman</p>
      <a href="#" class="btn btn-primary">Get more info</a>
    </div>
</div>
</div> 

<div class="col-4">
<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Doctor Strange</h4>
      <p class="card-text">Doctor Strange is the jedi master of illusions.</p>
      <a href="#" class="btn btn-primary">Get more info</a>
    </div>
</div>
</div>

<div class="col-4">
  <div class="card" style="width: 25 rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Avengers :Infinity war</h4>
      <p class="card-text">Thanos on the verge of erasing 50% of the universe</p>
      <a href="#" class="btn btn-primary">Get more info</a>
    </div>
</div>
</div>
 
 <div class="col-4">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Eternals</h4>
      <p class="card-text">aftermath of the era of thanos , the rise of the enternals</p>
      <a href="#" class="btn btn-primary">Get more info</a>
    </div>
    </div>
 </div> 
 
 <div class="col-4">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Eternals</h4>
      <p class="card-text">aftermath of the era of thanos , the rise of the enternals</p>
      <a href="#" class="btn btn-primary">Get more info</a>
    </div>
    </div>
 </div> 
 
 <div class="col-4">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Stars Wars</h4>
      <p class="card-text">.........</p>
      <a href="#" class="btn btn-primary">Get more info</a>
    </div>
    </div>
 </div> 
 
 <div class="col-4">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Black Panther</h4>
      <p class="card-text"> the land of infinity wars</p>
      <a href="#" class="btn btn-primary">Get more info</a>
    </div>
    </div>
 </div> 
 
 <div class="col-6">
  <div class="card" style="width: 30rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Guardians of Galaxy</h4>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Get more info</a>
    </div>
    </div>
 </div> 
</div>


