.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  width:100%;
} */
.background {
  /* this is needed or the background will be offset by a few pixels at the top */
  overflow: auto;
  position: relative;
}


.background::before {

  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/darksky.png') no-repeat;
  background-size: cover;
  text-align: center;
}
.movies {
  margin-top: 50px;
  padding: 40px;
  position: relative;
  z-index: -1;
  padding-top: 60px;

}
ul{
  display: inline-block;
  list-style: none;
  margin-bottom: 3px;
  padding: 50px;
}
h1{
  color:white;
  margin-left: 60px;
}
h6{
  color:white;
  display:inline-block;
}
p{
  color:azure;
  text-align: left;
}
.fa-star{
  color:yellow;
  display:inline-block;
}
.fa-calendar-alt{
 color:yellow;
   display:inline-block;
}
.fa-clock{
   color:yellow;
   display:inline-block;

}
.btn{
  border-radius: 20px;
}
.fa-play{
  color:black;
}
.fa-plus{
  color:black;
}
.col{
  float:left;

}
 .first-img {
  width: 30%;
  height: 220px;
  border-radius:8px;
}
.second-img{
   width:50%;
   height: 160px;
   border-radius: 8px;
}
