<div class="background">
  <div class="movies">
    <div class="container-fliud">
      <div class="col col-lg-6">
        <table class="table">
          <h1>Black Widow</h1>
          <tr>
            <ul>
              <th scope="col">
                <i class="far fa-star"><h6>IMDB: 7.4</h6></i>
              </th>
              <th scope="col">
                <i class="far fa-clock"><h6>DURATION: 1H 58M</h6></i>
              </th>
              <th scope="col">
                <i class="fas fa-calendar-alt"><h6>YEAR: 2020</h6></i>
              </th>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero
                praesentium pariatur nulla, soluta voluptatibus consectetur
                voluptate quae hic quidem voluptates cupiditate molestiae nobis
                quos aliquam minus repellat saepe! Dolore, quas?
              </p>
            </ul>
          </tr>
        </table>
        <table class="table">
          <tr>
            <ul>
              <th scope="col">
                <button
                  type="button"
                  class="btn btn-warning btn-rounded button-icons"
                >
                  <span><i class="fas fa-play"></i> </span>Watch Trailer
                </button>
              </th>
              <th scope="col">
                <button
                  type="button"
                  class="btn btn-light btn-rounded button-icons"
                >
                  <span><i class="fas fa-plus"></i> </span>add List
                </button>
              </th>
            </ul>
          </tr>
        </table>
      </div>
      <div *ngIf="moviefilter">
        <div class="col col-lg-6 text-center">
          <h1>Movie Trailers</h1>

          <img src="../../assets/f9.jpg" class="first-img" />
          <img src="../../assets/f9(1).jpg" class="second-img" />
        </div>
      </div>
    </div>
  </div>
</div>
